{
    "env": {
        "browser": true,
        "commonjs": true,
        "es2022": true,
        "jest": true
    },
    "extends": [
        "airbnb-base",
        "plugin:jsdoc/recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "sourceType": "module",
        "babelOptions": {
            "configFile": "./babelrc"
        },
        "ecmaVersion": "latest"
    },
    "globals": {
        "process": true,
        "describe": true,
        "test" : true,
        "expect": true,
        "beforeAll": true,
        "afterAll": true,
        "it": true
    },
    "rules": {
        "max-len": ["error", {"code": 150 }],
    },
    "plugins": [
        "jsdoc",
        "@typescript-eslint"
    ],
    "settings": {
        "jsdoc": {
            "mode": "typescript"
        }
    }
}                                          
